html {
    font-family: 'Public Sans', sans-serif;
}

main {
    display: flex;    
    /* 100% da tela que o usuário vê. */
    min-height: 100vh;
    /* Depois disso posso alinhar horizontalmente e verticalmente. */
    justify-content: center;
    align-items: center;
    
}

.pinturas {
    display: flex;
    /* Espaços entre elementos */
    gap: 20px;
    justify-content: center;
    /* Tornar mais responsivo */
    flex-wrap: wrap;
}

.pinturas .pintura {
    width: 335px;
    height: 431px;
    position: relative;

}

.pinturas .pintura img {
    /* Caso mude a pintura ela sempre se ajustará. */
    width: 100%;
}

.pinturas .pintura .informacoes {
    position: absolute;
    color: #FFFFFF;
    bottom: 40px;
    left: 20px;
}

.pinturas .pintura .informacoes .titulo {
    font-size: 30px;
    margin: 8px 0;
}


.pinturas .pintura .informacoes .subtitulo {
    font-size: 17px;
    font-weight: 300;
}

